






.cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}


.cv button {
   background-color: rgb(17, 16, 16);
    color: red;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 25px;
    border: 2px solid red;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.cv button:hover {
    background: red;
    transform: scale(1.05);
   
    color:  rgba(8, 8, 8, 0.979);
}



@media (max-width: 750px) {
    .cv {
        flex-direction: row;
        gap: 10px;
    }

    .cv button {
        font-size: 0.9rem;
        padding: 10px 20px;
    }
}
