.skills-section {
    width: 100%;
    height: auto;
    
    color: white;
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
  }
  
  .skills-header {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    
    color: red;
  }
  
  .skills-title {
    font-size: 2.8rem;
    font-weight: bold;
    border-bottom: 2px solid var(--border-color);
    display: inline-block;
  }
  
  .skills-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 2rem;
    
  }

  .skills-subtitle{
   font-size: 1.5rem;
    margin-left: 8%;
    align-self: start;
   
  }
  
  @media (min-width: 640px) {
    .skills-grid {
      grid-template-columns: repeat(5, 1fr);
      padding: 3.5rem;
    }
  }
  
  .skills-card {
    background: transparent;
    box-shadow: 0px 4px 8px rgba(4, 12, 22, 0.6);
    transition: box-shadow 0.5s;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills-card:hover {
    box-shadow: 0px 4px 8px #f00;
  }
  
  .skills-icon {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
  
  .skills-text {
    text-transform: uppercase;
    margin-top: 0.5rem;
  }
  