#skills{
    width: 100%;
   
    height: auto;
    display: flex;
  
    
    padding: 50px 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    
}

.slider{
    width: 90%;
    height: 20vh;
   
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    scrollbar-width: none;
   
   
}

.ph1{
    
    font-size: 2.5rem;
    background: red;
    background-clip: text;
    color: transparent;

}


@media (max-width: 750px) {
    #skills {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

}