/* Contact Section Layout */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   
    color: white;
    padding: 20px;
  }
  
  /* Left Contact Details */
  .left-contact {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .contact-card {
    background: linear-gradient(to right, #1a1616, #0e121d);
    box-shadow: 2px 2px 10px black,2px 2px 20px black;  
   
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    
    text-align: center;
    width: 90%;
    max-width: 600px;
  }
  
  .contact-title {
    background: linear-gradient(to right , red,white);
    background-clip: text;
    color: transparent;
    font-size: 1.8rem;
   
    margin-bottom: 15px;
  }
  
  .contact-info {
    margin-bottom: 15px;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .blue { color: #c95410; }
  .green { color: #10b981; }
  .red { color: #ef4444; }
  
  /* Contact Form */
  .right-contact {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .right-contact form {
    width: 80%;
    max-width: 450px;
    background: linear-gradient(to right, #1a1616, #0f172a);
    box-shadow: 2px 2px 10px black,2px 2px 20px black;  
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
  }
  .right-contact form:hover{
    box-shadow: 2px 2px 10px #e60a1c, 2px 2px 20px #ff6b81;
}

  .right-contact form input,
  .right-contact form textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.918);
    color: white;
  }
  
  .right-contact form input:focus,
  .right-contact form textarea:focus {
    border: 2px solid rgb(99, 53, 53);
  }
  
  .right-contact form textarea {
    height: 100px;
    resize: none;
  }
  
  .form-button {
    padding: 12px;
    font-size: 1rem;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: red;
    border: 2px solid red;
    transition: all 0.3s ease;
  }
  
  .form-button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      text-align: center;
    }
  
    .left-contact,
    .right-contact {
      width: 100%;
    }
  
    .right-contact form {
      width: 90%;
    }
  }
  