/* General Home Section Styling */
#home {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

/* Left & Right Sections */
.lefthome, .righthome {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.righthome img {
    width: 50%;
    filter: drop-shadow(2px 2px 20px red);
}

/* Home Details */
.homedetails {
    font-size: 2vmax;
}

.line1 {
    font-size: 0.8em;
}

.line2 {
    font-size: 2.2em;
    font-weight: 600;
    background: linear-gradient(to right, red, white);
    background-clip: text;
    color: transparent;
}

.line3 {
    font-size: 1em;
}

/* Buttons */
.homedetails button {
    padding: 10px 20px;
   background-color: black;
    color: red;
    border: 2px solid red;
    margin-top: 20px;
    border-radius: 17px;
    font-size: 20px;
    transition: all 0.3s;
}



/* Social Icons */
.desktop-social  {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
   
}



.desktop-social-top{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.desktop-social-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.content{
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
}
  
  .box {
   
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .arrow {
    margin-top: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  
  
  .arrow-bottom {
    margin-top: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  
 
  
.mobile-social {
    display: none;
}





/* Mobile View */
@media (max-width: 750px) {
    #home {
        flex-direction: column-reverse;
        height: auto;
        padding-top: 100px;
    }

    .lefthome {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .righthome {
        width: 100%;
        height: auto;
        justify-content: center;
    }

    .righthome img {
        width: 60%;
        max-width: 300px;
    }

    .homedetails {
        font-size: 4vw;
    }

    .homedetails button {
        padding: 8px 20px;
        font-size: 4vw;
    }

    .mobile-social {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
    }
    .social-icon {
        font-size: 20px;
        margin-bottom: 10px;
        color: white;
        transition: transform 0.3s ease;
    }
    
    .social-icon:hover {
        transform: scale(1.2);
    }
    

    .desktop-social {
        display: none;
    }
}
