#home{
    width: 100%;
    height: 100vh;
    display: flex;

    
}

.lefthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}

.righthome{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.righthome img{
    width: 70%;
    filter: drop-shadow(2px 2px 20px red);


}
.homedetails{
    font-size: 2vmax;

}
.line1{
    font-size: 0.8em;
}
.line2{
    font-size: 2.2em;
    font-weight: 600;
    background: linear-gradient(to right , red,white);
    background-clip: text;
    color: transparent;
}
.line3{
    font-size: 1em;
}
.line4{
   
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.homepage_left_gitIconImg{
    height: 50px;
    margin: 5px;
    filter: drop-shadow(1px 1px 5px rgb(168, 101, 101));

}
.homedetails button{
    padding: 10px 20px;
    background-color: transparent;
    color: red;
    border: 2px solid red;
    margin-top: 20px;
    border-radius: 17px;
    font-size: 20px;
    transition: all 0.3s;

}
.homedetails button:hover{
    background-color: red;
    color: black;
    cursor: pointer;
}


@media (max-width: 750px) {
    #home {
        flex-direction: column-reverse;
        height: auto;
        padding-top: 100px; 
    }

    .lefthome {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .righthome {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .righthome img {
        width: 70%;
        max-width: 300px;
    }

    .homedetails {
        font-size: 4vw;
    }

    .line1 {
        font-size: 3vw;
    }

    .line2 {
        font-size: 5vw;
    }

    .line3 {
        font-size: 3.5vw;
    }

    .homedetails button {
        padding: 8px 20px;
        font-size: 4vw;
    }
    .homepage_left_gitIconImg{
        height: 40px;
    
    }
}



