@import "tailwindcss";

/* Hide scrollbars globally */
* {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE and Edge */
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
  display: none;
}
