#about{
    width: 100%;
    height: auto;
    display: flex;
    background-color: yellow;
  
    
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    
}

.slider{
    width: 90%;
    height: 20vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 30px;
    scrollbar-width: none;
    padding: 20px;
}

.ph{
    
    font-size: 3vmax;
    background: linear-gradient(to right , red,white);
    background-clip: text;
    color: transparent;

}


@media (max-width: 750px) {
    #about {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

}